<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script type="text/javascript">
    window.onload = function loadit() {
        alert("<%= message %>");
        window.location.href = '<%= url %>';
    }
    </script>
</head>

<body>
</body>

</html>